<div class=" container info__container">

    <div class="info__container-start" *ngIf="show">
        <button (click)="startGame()"> Start Game </button>
    </div>

    <div class="info__container-guides" #ruleContainer *ngIf="!show">
        <div class="info__container-title d-flex align-items-center">
            <span class="p-5"> Some rule of this Math game</span>
        </div>
        <div class="info__container-rules">

            <div class="rule mt-3"> <strong>1.</strong> You will have only <span> 5 seconds </span>per each question.
            </div>
            <div class="rule mt-3"> <strong>2.</strong> Keep enter the answer within given time</div>
            <div class="rule mt-3"> <strong>3.</strong> You can't return to previous question</div>
            <div class="rule mt-3"> <strong>4.</strong> You'll get one point for each correct answers</div>

        </div>
        <div class="info__container-button d-flex">
            <button class="quit " (click)="ExitGame()"> Exit Game</button>
            <button class="continue" (click)="continueGame()"> Continue</button>
        </div>
    </div>

</div>